---
import '../modules/styles/tailwind.css'
import { SITE_TITLE, SITE_DESCRIPTION, SITE_AUTHOR, SITE_KEYWORDS } from '../modules/seo/site-data'
import * as Core from '../modules/core'
import { GameBoard } from '../modules/game'

const CANONICAL_URL = new URL(Astro.url, Astro.site)
---

<html lang="en-US">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>{SITE_TITLE}</title>

		<meta name="description" content={SITE_DESCRIPTION} />
		<meta name="author" content={SITE_AUTHOR} />
		<meta name="keywords" content={SITE_KEYWORDS} />
		<meta name="robots" content="index, follow" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="generator" content={Astro.generator} />

		<meta property="og:site_name" content={SITE_TITLE} />
		<meta property="og:url" content={CANONICAL_URL} />
		<meta property="og:title" content={SITE_TITLE} />
		<meta property="og:description" content={SITE_DESCRIPTION} />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="en_US" />

		<meta name="twitter:site" content={SITE_AUTHOR} />
		<meta name="twitter:title" content={SITE_TITLE} />
		<meta name="twitter:description" content={SITE_DESCRIPTION} />
		<meta name="twitter:creator" content={SITE_AUTHOR} />
		<meta name="twitter:card" content="summary" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="canonical" href={CANONICAL_URL} />
	</head>

	<body class="min-h-dvh flex flex-col bg-background text-foreground high-dpi:antialiased">
		<Core.Header />
		<Core.Content>
			<GameBoard client:only="vue" />
		</Core.Content>
		<Core.Footer />
	</body>
</html>
